.container {
    display: flex;

    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: white;
    height: 150px;
}
.box {
    display:flex;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: white;
    margin: 10px;
    font-family: Brandon;
    font-size: 20px;
    margin-top: 68px
}
.logo{
  width: 44px;
  height: 32px;
}
.search{
    width: 25.5px;
    height: 25.5px;
    display: none;
